html,
body {
    height: 100%;
    min-width: 400px;
}


body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    background: #fff;
    height: 100%;
}

a:-webkit-any-link {
    cursor: pointer;
}
